footer{
    border-top: 2px solid #000;
    display: flex;
    justify-content: space-around;
    padding: 10px 16px;
}

footer img{
    height: 65px;
    width: 65px;
}

.footer-para{
    width: 800px;
    font-size: 20px;
    color: #a1a1a1;
}